---
layout: plain
---

<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-md-offset-1">
        <div class="hidden-xs">&nbsp;</div>
        <h3 style="color:#1E8449">Bring the power of data science to general audiences</h3>
        <h4>Use the R language for interactive visualizations</h4>
        <h4>Build on the latest technologies to deliver statistical services</h4>
        <h4>Leverage Shiny and OpenCPU to build web applications</h4>
      </div>

      <div class="col-sm-6">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-pause="">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active" data-slide="0">
              <img src="{{site.baseurl}}/images/ga-w600.png" width="100%" alt="logo">
            </div>
            <div class="item" data-slide="1">
              <img src="{{site.baseurl}}/images/apps/kriging/thumb.png" width="100%" alt="kriging">
            </div>
            <div class="item" data-slide="2">
              <img src="{{site.baseurl}}/images/apps/qcc/thumb.png" width="100%" alt="qcc">
            </div>
          </div>

        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="section-tout">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Apps</h2>
        {% for app in site.categories.apps %}
        <div class="col-xs-4">
          <div class="image">
            <a href="{{ site.baseurl }}{{ app.url }}"><img src="{{ site.baseurl }}/images/apps/{{ app.short }}/thumb.png" class="img-responsive" alt="{{ app.short }}"></a>
          </div>
          <h4><a href="{{ site.baseurl }}{{ app.url }}">{{ app.title }}</a></h4>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h2>Posts</h2>
        {% for post in site.categories.posts %}
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
