<div class="container">
  <footer>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr/>
        <div class="col-xs-12 col-md-6">
          <p><small>
            &copy; <a href="http://datascience4g.com/">DataScience4G</a> (2014&ndash;{{ site.time | date: "%Y" }}) under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          </small></p>
        </div>
        <div class="col-xs-12 col-md-6">
          <p><small>
            Last updated on {{ site.time | date: "%Y-%m-%d" }}.
            <br />
            Questions about this website? <a href="http://datascience4g.com/contact.html">Get in touch</a>!
          </small></p>
        </div>
      </div>
  </div>
  </footer>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    $("table").addClass("table table-striped table-bordered table-hover table-condensed");
</script>
<script>
  $(function(){
    $('#navbar').data('size','big');
  });

  $(window).scroll(function(){
    if($(document).scrollTop() > 0)
  {
      if($('#navbar').data('size') == 'big')
      {
          $('#navbar').data('size','small');
          $('#navbar').stop().animate({
              height:'40px'
          },600);
      }
  }
  else
    {
      if($('#navbar').data('size') == 'small')
        {
          $('#navbar').data('size','big');
          $('#navbar').stop().animate({
              height:'60px'
          },600);
        }
    }
  });
</script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap.min.js"></script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107278400-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107278400-1');
</script>
