<div class="container">
  <footer>
  <div class="row">
    <div class="col-lg-6">
      <p><small>
        Put here contact info.
      </small></p>
    </div>
    <div class="col-lg-6">
      <p><small>
        Put here copyright and other legal stuff.
      </small></p>
    </div>
  </div>
  </footer>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    $("table").addClass("table table-striped table-bordered table-hover table-condensed");
</script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap.min.js"></script>
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
